<div class="row-fluid">

    <div class="alert alert-block alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>You're awesome!</h4>
      <p>Here you can learn new things. We'll show you some courses you have not enrolled in yet.</p>
    </div>

    <input ng-model="searchQuery" type="text" class="input-xxlarge" placeholder="Search by course title, description">

    <select ng-model="showOption" ng-options="o.v for o in showOptions" class="pull-right"></select>

</div>


<div class="row-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Class name</th>
                <th>What's next?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mixed_course in courses_list | filter:searchQuery">
                <td>{{ mixed_course.title }}</td>
                <td>
                    <button ng-show="mixed_course.hash" class="btn btn-danger">Create Class</button>
                    <button ng-show="mixed_course.id" class="btn btn-success">Enroll</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
