{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>OpenCollea - Error 500</title>
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}">
</head>
<body>
<h1>OpenCollea - Error 500</h1>
<div class="body">Oh noes! That means that some programmer did something wrong.
    You naughty naughty programmer you!</div>
<div class="footer">OpenCollea Copyright 2013</div>
</body>
</html>