<!DOCTYPE html>
<html ng-app="opencollea">
<head>
    <title>OpenCollea - {{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load assets %}
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <div class="container-fluid">
      <!-- Navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">OpenCollea</a>

            <!-- My classes -->
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-book icon-white"></i>
                  My Classes
                  <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                  <li class="nav-header">Recent classes</li>
                  <li><a href="#">Izbrana poglavja računalništva in informatike</a></li>
                  <li><a href="#">Postopki razvoja programske opreme</a></li>
                  <li><a href="#">Spletno programiranje</a></li>
                  <li><a href="#">Tehnologija programske opreme</a></li>
                  <li><a href="#">Inteligentni sistemi</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">More classes</li>
                  <li>
                    <form class="navbar-form">
                      <input type="text" placeholder="Autocomplete search">
                      <button class="btn btn-primary">Go!</button>
                    </form>
                  </li>
                </ul>
              </li>

              <li><a href="#/course-list"><i class="icon-globe icon-white"></i> Discover</a></li>
              <li><a href="#"><i class="icon-glass icon-white"></i> Socialize</a></li>
              <li><a href="#/new-course"><i class="icon-wrench icon-white"></i> Admin</a></li>

            </ul>

            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user icon-white"></i>
                  You
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#/profile/{{ user.username }}">My Profile</a></li>
                  <li class="divider"></li>
                  <li ng-controller="AuthController">
                      <a ng-click="logout()" href="#">Sign Out</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--
        Example:
            $rootScope.notifications = [{
              class: 'alert-success',   // Twitter bootstrap css classes
              content: 'Your profile was successfuly saved.'
            }];
      -->
      <div ng-repeat="n in notifications">
          <div class="alert {% templatetag openvariable %} n.class {% templatetag closevariable %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <div ng-bind-html-unsafe="n.content"></div>
          </div>
      </div>

      <div ng-view></div>

    </div>

<div class="footer">OpenCollea Copyright 2013</div>

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>
