<div class="row-fluid" ng-controller="CourseDetailCtrl">
    <ul class="unstyled">
        <li ng-repeat="question in course.questions">
            <div class="well well-large">
                <h4>  {{ question.title }} </h4>
                <small> Author: <a ng-href="#/profile/{{ question.user.username }}">
                    {{ question.user.first_name }} {{ question.user.last_name }}</a>
                    <br> Posted: {{ question.published|date:'dd.MM.yyyy'}}</small>
                <hr>
                <blockquote> {{ question.content }} </blockquote>
                <hr>
                <!-- Answer List -->
                <ul class="unstyled">
                    <li ng-repeat="answer in question.answers">
                        <p> <a ng-href="#/profile/{{ answer.user.username }}">{{ answer.user.first_name }} {{ answer.user.last_name }}</a>: {{ answer.content }} </p>
                    </li>
                </ul>
                <br>
                <!-- Add answer -->
                <!--<div ng-controller="AddNewAnswerCtrl">
                    <form ng-submit="addNewAnswer()">
                        <div class="control-group" ng-class="{error: isError}">
                            <label class="control-label">Answer content</label>
                            <input ng-model="content" type="text" class="input-xlarge" placeholder="Add answer...">
                            <span class="help-inline" ng-show="isError">Error while adding answer.</span>
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit">Add new answer</button>
                        </div>
                    </form>
                </div>

                <button ng-click="addNewAnswer()">Add answer</button>

                Q ID: {{ question.id }} U ID: {{ question.user.id }} newAnswer.content: {{ newAnswer.content }}
                <br>
                <input type="text" ng-model="newAnswer.content">
                <br>-->
                <!--
                <form ng-submit="createNewNote()">
                    <div class="control-group" ng-class="{error: isError}">
                        <input ng-model="newAnswer.content" type="text" class="input-xlarge" placeholder="Write answer...">
                        <span class="help-inline" ng-show="isError">Error occured.</span>
                    </div>
                    <button class="btn btn-success" type="submit">Post new answer</button>

                </form>
                -->
                <form ng-submit="createNewNote()">
                    <input ng-model="newAnswer.content" type="text" class="input-xlarge" placeholder="Write answer...">
                    <button class="btn btn-success" type="submit">Post new answer</button>
                </form>
            </div>
        </li>
    </ul>
</div>
