<div class="container-fluid">
    <div class="row-fluid">
        <h4>Welcome to {{courseTitle}}</h4>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
            <li><a href="#references" data-toggle="tab">References</a></li>
            <li><a href="#questions" data-toggle="tab">Questions & Answers</a></li>
            <li><a href="#notes" data-toggle="tab">Notes</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="activity">
                <p>Activity feed</p>
            </div>
            <div class="tab-pane" id="references">
                <p>References page</p>
            </div>
            <div class="tab-pane" id="questions">
                <p> Page for Q&A</p>
                <ul class="unstyled">
                    <li ng-repeat="question in questions.objects">
                        <h4>  {{ question.title }} </h4>
                        Author: {{ question.user.first_name }} {{ question.user.last_name }}
                        Posted: {{ question.published }}
                        {{ question.content }}
                        <span class="label" ng-repeat="tags in tags.objects"> {{ tags }}</span>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="notes">
                <p> Notes page</p>
            </div>


        </div>
    </div>
</div>
