<div class="row-fluid">
    <a title="Ask Question" class="btn btn-danger pull-right" ng-click="askQuestion()">
            <i class="icon-trash"></i> Ask question
    </a>
</div>

<div class="row-fluid" ng-controller="QAController">
    <ul class="unstyled">
        <li ng-repeat="question in course.questions">
            <div class="well well-large">
                <h4>  {{ question.title }} </h4>
                <small> Author: <a ng-href="#/profile/{{ question.user.username }}">
                    {{ question.user.first_name }} {{ question.user.last_name }}</a>
                    <br> Posted: {{ question.published|date:'dd.MM.yyyy'}}</small>
                <hr>
                <blockquote> {{ question.content }} </blockquote>
                <hr>
                <!-- Answer List -->
                <ul class="unstyled">
                    <li ng-repeat="answer in question.answers">
                        <p> <a ng-href="#/profile/{{ answer.user.username }}">{{ answer.user.first_name }} {{ answer.user.last_name }}</a>: {{ answer.content }} </p>
                    </li>
                </ul>
                <br>

                <form class="form-inline" ng-controller="AnswerSubmission" ng-submit="answer(question)">
                    <div class="control-group" ng-class="{error: isError}">
                        <input ng-model="answerMessage" type="text" class="input-xlarge" placeholder="Write answer...">
                        <button form-save-button-loading="Answering..." class="btn btn-success" type="submit">Post new answer</button>
                        <span class="help-inline" ng-repeat="error_msg in errors.answer">{{ error_msg }}</span>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>
