<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <!--Sidebar content-->
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Your Classes (TBD)</li>
                    <li class="active"><a href="#">Programming</a></li>
                    <li><a href="#">Kodekov kotiček</a></li>
                    <li><a href="#">Bratkove umetnosti</a></li>
                    <li><a href="#">Jurišičev krožek</a></li>
                    <li class="nav-header">Recommended Classes</li>
                    <li ng-repeat='course in courses.objects'>
                        <a href="#/home/{{ course.machine_readable_title }}">{{ course.title }} </a>
                    </li>
                    <br/>

                </ul>
            </div><!--/.well -->
            <!--<div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Your Classes (TBD)</li>
                    <li class="nav-header">All Classes</li>
                    <li class="btn btn-link btn-large" ng-repeat='course in courses.objects' ng-click="changeCourse()"><i class="icon-chevron-right"></i> <a href="#/{{ course.machine_readable_title }}">{{ course.title }} </a></li>
                </ul>
            </div>-->
        </div>

        <div class="span9" ng-show="showFeed">
            <!--Body content-->
            <div class="leaderboard">
                <h1>{{ course.title }}</h1>
                <p>{{ course.description }}</p>
                <p><a class="btn btn-success btn-large" href="#/course/{{ course.machine_readable_title }}">Go to class/enroll me</a></p>
            </div>
            <div class="row-fluid">
                <h2>Last questions:</h2>
                <div class="well span9" ng-repeat="question in course.questions | orderBy:'published':true | limitTo:3">
                    <h4><a ng-href="#/profile/{{ question.user.username }}">{{ question.user.first_name }} {{ question.user.last_name }}</a> @ {{ question.published | date:'fullDate'}}</h4>
                    <h4>{{ question.title }}</h4>
                    <p>{{ question.content }}  <span class="rightFloater">
                    <a class="btn btn-success" href="#/course/{{ course.machine_readable_title }}/questions">Go to question</a></span></p>
                    <!-- TBD: <span class="label label-info" ng-repeat="tag in question.tags">{{ tag.title }}</span> -->
                </div><!--/span-->

            </div>
        </div>

        <div class="span9" ng-hide="showFeed">
            <div class="leaderboard">
                <h1>Welcome {{ user_profile.first_name }}</h1>
                <h3 class="lead"> OpenCollea is a portal designed to help different students all across the world connect, help each other study, and make study a better experience.</h3>
            </div>
        </div>
    </div>
</div>