@media screen and (min-width: 980px) {
  body {
    padding-top: 41px;  /* Static navbar */
  }
}

/**
 * Bootstrap overrides
 */
 .dropdown-menu > li > * {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
 }


ul.doubleList span {
    padding: 0 5px;
}
.pieContainer {
    margin: -80px 0 0 -180px;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}