<div class="row-fluid" ng-controller="UserClassProfileCtrl">
<div class="span3">
  <div class="big-avatar">
    <gravatar-image data-email="user_profile.email" data-size="250" data-default="http://www.gravatar.com/avatar/uporabnik-nima-slike?size=250"></gravatar-image>
    <br>
    <a href="http://gravatar.com/" target="_blank" class="btn btn-mini btn-upload btn-primary">
      <i class="icon-white icon-upload"></i>
      Change Picture
    </a>
  </div>

  <div class="well">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">Izbrana poglavja računalništva in informatika</li>
      <li class="active">
        <a href="#">
          <i class="icon-star"></i>
          Class Profile
        </a>
      </li>

      <li class="nav-header">OpenCollea</li>
      <li>
        <a href="#/profile/{{currentUser.username}}/edit">
          <i class="icon-star"></i>
          Personal Profile
        </a>
      </li>
      <li>
        <a href="#/auth/{{currentUser.username}}/edit">
          <i class="icon-list"></i>
          Classes
          <div class="badge pull-right">2</div>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-user"></i>
          Network
          <div class="badge pull-right">56</div>
        </a>
      </li>
    </ul>
  </div>

</div>

<div class="span9">
  <h2>{{ user_profile.first_name }} {{ user_profile.last_name }}
      <a href="#/profile/{{currentUser.username}}/edit" class="btn pull-right" ng-show="user_profile.id == currentUser.id">
        <i class="icon-edit"></i>
        Edit Profile
      </a>
  </h2>


  <i class="icon-signal"></i> Activity <div class="progress progress-success"><div class="bar" style="width: 80%"></div></div>
  <i class="icon-certificate"></i> Contribution <div class="progress progress-danger"><div class="bar" style="width:10%"></div></div>

  <i class="icon-road"></i>
    On OpenCollea since <span class="label">{{ user_profile.date_joined | date:'dd.MM.yyyy @ HH:mm' }}</span>,
    last activity <span class="label">{{ user_profile.last_login | date:'dd.MM.yyyy @ HH:mm' }}</span>.

  <i class="icon-map-marker"></i>
    Lives in <span class="label" ng-bind="user_profile.lives_in"></span>
    <i class="icon-headphones"></i> Speaks <span class="label" ng-bind="user_profile.language_code.title"></span>

  <hr>

  <h3>Biography</h3>
  <blockquote>
    <p ng-bind="user_profile.biography"></p>
  </blockquote>

  <hr>

  <h3>Class Profile Details</h3>

  <hr>

  <h3>Latest Submissions</h3>

</div>
</div>
