<div class="row-fluid">
<div class="span3">
  <div class="big-avatar">
    <gravatar-image data-email="currentUser.email" data-size="250" data-rating="pg" data-default="http://www.gravatar.com/avatar/uporabnik-nima-slike?size=250"></gravatar-image>
    <br>
    <a href="http://gravatar.com/" target="_blank" class="btn btn-mini btn-upload btn-primary">
      <i class="icon-white icon-upload"></i>
      Change Picture
    </a>
  </div>

  <div class="well">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">OpenCollea</li>
      <li>
        <a href="#/profile/{{user.username}}/edit">
          <i class="icon-star"></i>
          Personal Profile
        </a>
      </li>

      <li class="active">
        <a href="#">
          <i class="icon-briefcase"></i>
          Registration Details
        </a>
      </li>
    </ul>
  </div>

</div>

<div class="span9">
  <h2>Registration Details</h2>
  <form class="form-horizontal" ng-controller="UserRegistrationDetailsEditCtrl" ng-submit="saveRegistrationDetails()">
    <!-- Full Name -->
    <div class="control-group" ng-class="{error: errors.registration_details.first_name || errors.registration_details.last_name}">
      <label class="control-label">Full Name</label>
      <div class="controls">
        <input type="text" placeholder="First" ng-model="registration_details.first_name">
        <span class="help-inline" ng-repeat="error_msg in errors.registration_details.first_name">{{ error_msg }}</span>
        <input type="text" placeholder="Last" ng-model="registration_details.last_name">
        <span class="help-inline" ng-repeat="error_msg in errors.registration_details.last_name">{{ error_msg }}</span>
      </div>
    </div>

    <!-- Email -->
    <div class="control-group" ng-class="{error: errors.registration_details.email}">
      <label class="control-label">Email</label>
      <div class="controls">
        <input type="text" ng-model="registration_details.email">
        <span class="help-inline" ng-repeat="error_msg in errors.registration_details.email">{{ error_msg }}</span>
        <span class="help-block">We will use your email address for <a title="Link to Gravatar - A Globally Recognized Avatar" href="http://gravatar.com" target="_blank">Gravatar</a>.</span>
      </div>
    </div>

    <!-- Password -->
    <div class="control-group" ng-class="{error: errors.registration_details.password}">
      <label class="control-label">Password</label>
      <div class="controls">
        <input type="password" ng-model="registration_details.password">
        <span class="help-inline" ng-repeat="error_msg in errors.registration_details.password">{{ error_msg }}</span>
        <span class="help-block">leave blank if you don't want to change it</span>
      </div>
    </div>
    <div class="control-group" ng-class="{error: errors.registration_details.password_confirmation}">
      <label class="control-label">Password Confirmation</label>
      <div class="controls">
        <input type="password" ng-model="registration_details.password_confirmation">
        <span class="help-inline" ng-repeat="error_msg in errors.registration_details.password_confirmation">{{ error_msg }}</span>
      </div>
    </div>

    <div class="form-actions">
      <button form-save-button-loading="Saving..." ng-click="redirectBack=true" type="submit" class="btn btn-primary">Save</button>
      <button form-save-button-loading="Saving..." ng-click="redirectBack=false" type="submit" class="btn">Save &amp; Continue</button>
    </div>


  </form>
</div>
</div>
